/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  color: var(--color-heading);
}

p {
  color: rgb(242 242 242 / 64%);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #444;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #333;
  color: #e0e0e0;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  border-color: #42b983;
  box-shadow: 0 0 0 2px rgba(66, 185, 131, 0.3);
}


button {
  background-color: #42b983;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #3aa876;
}

@keyframes fly-by {
  0% {
    opacity: 0;
    transform: translateX(-200%) scale(0);
  }
  50% {
    opacity: 1;
    transform: translateX(0) scale(1.25);
  }
  100% {
    opacity: 0;
    transform: translateX(200%) scale(0);
  }
}

.fly-by {
  animation: fly-by 1s ease-in-out;
}

/**
  * Rays
  *
  * @author jh3y
*/
@-webkit-keyframes rays {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes rays {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.rays {
  position: relative; /* Ensure positioned context for pseudo-elements */
  margin: 10px 0;
}

.rays:after,
.rays:before {
  border-radius: 100%;
  content: "";
  position: absolute;
}

.rays:after {
  -webkit-animation: rays 1.5s infinite;
  animation: rays 1.5s infinite;
  border: 10px solid white;
  height: 30px;
  width: 30px;
  top: 0px;
  left: 5px;
}

.rays:before {
  background: white;
  height: 20px;
  width: 20px;
}

.swanky-list {
  list-style: none; /* Remove default bullets */
  margin: 0;
  padding: 0;
  max-width: 400px;
  margin: auto;
  font-family: "Arial", sans-serif;
}

.swanky-list li {
  background: linear-gradient(90deg, #030c0e, #0072ff);
  color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  transition: transform 0.3s, background 0.3s;
  position: relative;
  overflow: hidden;
}

.swanky-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1); /* Less intense */
  transition: left 0.6s; /* Slower transition */
}

.swanky-list li:hover::before {
  left: 100%;
}

.swanky-list li:hover {
  transform: scale(1.03); /* Smaller scale */
  background: linear-gradient(
    90deg,
    #005fa3,
    #006fdc
  ); /* Slightly different gradient for subtle effect */
}
